/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    padding: 0px 100px;
}


p {
    color: #000;
}

.align-right { 
    text-align: center; 
}

/* Conteneur Flexbox pour le header */
.header { 
  display: flex;
  justify-content: space-between; /* Logo à gauche, éléments à droite */
  align-items: center;
  margin: 0px;
  width: 100%;
}

.header img{
   width: 50px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 16px;
    margin: 0 20px;
}

.nav-links li{
    padding: 20px 0;
    border-top: white 1px solid;
}

.nav-links li:hover {
    border-color: #0065FC;
    color: #0065FC;
}

.main-container {
    width: 1440px;
    gap: 15px;
    box-sizing: border-box;
}

/* Conteneur principal */
.filters-container {
    display: flex;
    align-items: center;
    gap: 20px; 
    font-family: Arial, sans-serif;
    margin: 0px;
}

/* Conteneur pour le champ de recherche */
.search-container {
    display: flex;
    align-items: center;
    border-radius: 15px; /* Coins arrondis */
    overflow: hidden; /* Empêche les débordements */
    width: 377px; /* Largeur totale du conteneur */
    margin-top: 30px;
}

/* Style du champ de texte */
.search-container input {
    flex: 1; 
    padding: 16px; /* Espacement interne */
    font-weight: bold;
    border: #F2F2F2 solid 1px;
    color: black;
}

/* Style du bouton */
.search-container button {
    background-color: #0065FC; /* Bleu du bouton */
    color: white; /* Texte en blanc */
    border: none; 
    padding: 16px 16px; /* Espacement interne */
    cursor: pointer; /* Curseur interactif */
    font-size: 16px; 
}

.icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2; /* Gris du bouton */
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 10px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/* Filters */
.filters-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 30px 0 15px 0px;
}

.filter-title {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px; /*  espace après le Filtres */
}

/* Style de boutons */
.filter-btn {
    display: flex;
    align-items: center;
    gap: 5px; /* Espace entre l'icône et le texte */
    padding: 8px 15px; 
    font-size: 14px;
    font-weight: bold;
    color: #000; /* Couleur du texte */
    background-color: #fff; /* Fond blanc */
    border: 1px solid #ccc; /* Bordure grise */
    border-radius: 25px; /* Boutons arrondis */
    cursor: pointer; /* Curseur interactif */
    transition: all 0.3s ease; /* Animation au survol */
}

/* Icônes des boutons */
.filter-btn i {
    color: #007BFF; /* Couleur bleue des icônes */
    font-size: 15px;
}

/* Effet au survol des boutons */
.filter-btn:hover {
    background-color: #f0f8ff; 
    border-color: #0065FC; /* Bordure bleue au survol */
}

/* logements disponibles */
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
}

/* icone logements disponibles */
.i-info{
    width: 30px;
    height: 30px;
    border: 1px solid; border-color: #D9D9D9;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/* Hebergements et les plus populaires */
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/* Hebergements */
.hebergements {
    width: 65%;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    margin: 5px;
    padding: 10px;
}

.cards a {
    width: calc(33.333% - 20px); /* Ajustement pour 3 cartes par ligne */
    height: auto;
    box-sizing: border-box;
}

.hebergements .card {
    width: 100%;
    height: auto;
}

.cards img {
    width: 100%;
    height: 124px;
    border-radius: 10px 10px 0px 0;
    justify-content: center;
}

.contenu-card h3, .contenu-card p {
    margin: 0;
    padding: 5px 0;
}


.activities-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.activity-title {
    margin: 20px 0 20px 30px;
   
}

.activities-container .activity {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    width: 20%;
    height: 370px;
}


.activities-container img{
    border-radius: 10px 10px 0 0;
}



.activity-content p{
    margin-top: 0;
    font-size: 16px;
    margin: 10px;
    font-weight: 700;
    margin-top: 20px;
}



img{
    width: 100%;
    height:80%;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

footer {
    display: flex;
    width: 100%;
    background-color: #F2F2F2; 
    margin: 40px 0 0 0;
    padding-left: 0 10px;
    height: auto;
}


footer div {
    width: 61%;
    padding: 5px;
}

footer p {
    font-size: 16px;
    font-weight:700;
    padding-top: 10px;
}

footer ul, footer li {
    list-style: none;
    padding: 0 0 0 0;
    gap: 15px;
    margin-top: 20px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column; 
    }

    body {
        padding: 0 30px;
    }

    .hebergements {
        width: 100%;
    }
    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 20px; /* Espacement entre les cartes */
    }
    
    .cards a {   
        width: calc(33.333% - 20px); /* Ajustement pour 3 cartes par ligne */
    }

    .filter-title {
        width: 100%;
        margin-bottom: 10px;
    }

    .filter-btn {
        flex-wrap: wrap;
    }

    .filters-container {
        flex-wrap: wrap;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        
    }

    .populaires-cards a {
    width: 100%;
   
    }
    .activities-container img{
        width: 100%;
        height: 80%;
        object-fit: cover;
    } 

   

    .populaires-cards .card-title {
        font-size: 13px;
    }

    .populaires-cards .card-subtitle {
        font-size: 16px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
    /* Header */
    body {
        margin: 0;
        padding: 0;
    }

    .main-container {
        position: static;
        width: 100%;
    }

    .header {
        flex-direction: column;
    }

    /* Titre principal */
    h1 {
        font-size: 24px;
        padding-left: 20px;
        margin-top: 30px;
    }

    h2{
        font-size: 20px;
        padding-left: 1px;
        margin-top: 10px;
    }


    .header img {
        width: 121px;
        margin: 20px;
    }

    .nav-links {
        padding: 0;
        justify-content: space-between;
        width: 100%;
        gap: 0;
    }

    .nav-links li {
        padding: 20px 0;
        width: 50%;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }

    .nav-links li:hover {
        border-top: none;
        border-bottom: #0065FC 1px solid;
        color: #0065FC;
    }

    .activities-grid {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0px;
    }

    .activities-container .activity{
        width: 100%;
        border-radius: 25px;
        
    }

    
    .activities-container img{
        border-radius: 25px 25px 0 0;
    }   
    
    .eglise { 
        object-position: top;
    }



    .activity-title{
       padding: 20px 0;
    }

    .activities-grid p {
        height: 50px;
        margin-top:14px;
        padding-left: 20px;
    }

    .search-container button {
        background-color: #0065FC;
        color: black;
        width: 49px;
        height: 49px;
        right: 0; 
        position: absolute;
        border-radius: 15px;
        box-shadow: 4px 5px 25px rgba(0, 0, 1, 0.3); /* Ombre légère pour un effet en relief */
    }

    .icon {
        height: 49px;
        border-radius: 15px 0 0 15px;
        margin-left: 6px;
    }

    .search-container {
        display: flex;
        align-items: center; /* Centre verticalement */
        margin: 5px 5px 10px 15px;
        border-radius: 10px;
        width: 90%;
        position: relative;
    }

    .search-container input {
        width: calc(100% - 100px); /* Largeur du champ de recherche */
        padding:6px 10px;
        font-size: 16px; /* Taille de la police */
        font-weight: bold;
        border: 1px solid #F2F2F2; /* Bordure légère */
        border-radius: 0 20px 20px 0; 
        height: 49px;/* Hauteur fixe pour le champ de recherche */
       
    }

    .para {
        padding: 20px;
        
    }

    .filters-container {
        padding: 15px;
        margin: 0;
    }

    .i-info {
        padding: 2px;
        font-size: 18px;
    }

    .info {
        padding:10px;
        margin: 0;
    }

    .info p{
        font-size: 14px;
    }

    .rechercher {
        display: none;
    }

    .fa-magnifying-glass {
        color: white;
    }

    .hebergements-and-populaires section {
        padding: 25px;
        border-radius: 0px;
        width: 100%;
        margin: 0px;
       
        }

    .cards a {
        width: 100%;
        box-sizing: border-box;
    }

    .hebergements .cards img {
        width:100%;
    }

    .hebergements .cards {
        margin: 0;
        padding: 0;
    }

    .hebergements .card {
        width: 100%; 
        margin-top: 25px; 
    }

    .populaires {
        margin-top: 0;
        order: 1;
       
    }

    .populaires-cards .card {
        margin: 0px; 
    }
    
    .populaires-title{
        margin-bottom: 15px;
    }


    .cards a{
        width: 100%;
    }

    .populaires-cards{
        flex-direction: column;
    }
    .hebergements {
        order: 2;
        margin: 0;
        background-color: white !important;
    }

    .activities-container {
        padding: 0 20px;
    }
    

    footer {
        flex-direction: column;
        height: auto;
        gap: 10px;
    }
    footer div {
        padding: 0 20px;
    }
}